:root {
  --canvasBackgroundColor: #ffffff;
  --canvasTextColor: #2d3b45;
  --canvasErrorColor: #e0061f;
  --canvasWarningColor: #fc5e13;
  --canvasInfoColor: #0374b5;
  --canvasSuccessColor: #0b874b;
  --canvasBorderColor: #c7cdd1;
  --toolbarButtonHoverBackground: rgb(242, 242, 242);
  --canvasBrandColor: #00457c;
  --activeMenuItemBackground: #00457c;
  --activeMenuItemLabelColor: #ffffff;
  --tableSelectorHighlightColor: rgba(0, 97, 175, 0.5);
  --canvasLinkColor: #00457c;
  --canvasLinkDecoration: none;
  --canvasButtonBackground: #ffffff;
  --canvasButtonBorderColor: transparent;
  --canvasButtonColor: #2d3b45;
  --canvasButtonHoverBackground: #ffffff;
  --canvasButtonHoverColor: #0374b5;
  --canvasButtonActiveBackground: #ffffff;
  --canvasButtonFontWeight: 400;
  --canvasButtonFontSize: 1rem;
  --canvasButtonLineHeight: 2.375rem;
  --canvasButtonPadding: 0 0.75rem;
  --canvasPrimaryButtonBackground: #00457c;
  --canvasPrimaryButtonColor: #ffffff;
  --canvasPrimaryButtonBorderColor: transparent;
  --canvasPrimaryButtonHoverBackground: rgb(0, 41, 73);
  --canvasPrimaryButtonHoverColor: #ffffff;
  --canvasSecondaryButtonBackground: #f5f5f5;
  --canvasSecondaryButtonColor: #2d3b45;
  --canvasSecondaryButtonBorderColor: rgb(219, 219, 219);
  --canvasSecondaryButtonHoverBackground: rgb(219, 219, 219);
  --canvasSecondaryButtonHoverColor: #2d3b45;
  --canvasFocusBorderColor: #00457c;
  --canvasFocusBorderWidth: 0.0625rem;
  --canvasFocusBoxShadow: 0 0 0 2px #00457c;
  --canvasEnabledColor: #00457c;
  --canvasEnabledBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(191, 191, 191);
  --canvasFontFamily: LatoWeb, "Lato Extended", Lato, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  --canvasFontSize: 1rem;
  --canvasFontSizeSmall: 0.875rem;
  --canvasModalShadow: 0 0.375rem 0.4375rem rgba(0, 0, 0, 0.1),
    0 0.625rem 1.75rem rgba(0, 0, 0, 0.25);
  --canvasModalHeadingPadding: 1.5rem;
  --canvasModalHeadingFontSize: 1.75rem;
  --canvasModalHeadingFontWeight: 400;
  --canvasModalBodyPadding: 1.5rem;
  --canvasModalFooterPadding: 0.75rem;
  --canvasModalFooterBackground: #f5f5f5;
  --canvasFormElementMargin: 0 0 1.5rem 0;
  --canvasFormElementLabelColor: #2d3b45;
  --canvasFormElementLabelMargin: 0 0 0.75rem 0;
  --canvasFormElementLabelFontSize: 1rem;
  --canvasFormElementLabelFontWeight: 700;
  --canvasBadgeBackgroundColor: #0374b5;
  --tinySplitButtonChevronHoverBackground: rgb(216, 216, 216);
}
