.canvas-grid-editor {
  .grid-row[data-cdb-id] {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
    box-sizing: border-box;
  }
  .cdb-card {
    @apply shadow-strong rounded-md;
    &.cdb-card--round-lg {
      @apply rounded-xl;
    }
    &.cdb-card--round-sm {
      @apply rounded-sm;
    }
    &.cgb-col-inner {
      @apply flow-root grow;
    }
  }
  .has-background {
    a {
      color: inherit !important;
    }
  }
}
