.canvas-grid-editor {
  .cdb-card {
    @apply shadow-strong rounded-md;
    &.cdb-card--round-lg {
      @apply rounded-xl;
    }
    &.cdb-card--round-sm {
      @apply rounded-sm;
    }
    &.cgb-col-inner {
      @apply flow-root grow;
    }
  }
}
