:root {
  --ic-brand-primary-darkened-5: #004276;
  --ic-brand-primary-darkened-10: #003f70;
  --ic-brand-primary-darkened-15: #003b6a;
  --ic-brand-primary-lightened-5: #0c4e82;
  --ic-brand-primary-lightened-10: #195789;
  --ic-brand-primary-lightened-15: #26608f;
  --ic-brand-button--primary-bgd-darkened-5: #004276;
  --ic-brand-button--primary-bgd-darkened-15: #003b6a;
  --ic-brand-button--secondary-bgd-darkened-5: #2b3942;
  --ic-brand-button--secondary-bgd-darkened-15: #27333b;
  --ic-brand-font-color-dark-lightened-15: #4c5860;
  --ic-brand-font-color-dark-lightened-28: #677179;
  --ic-link-color-darkened-10: #003f70;
  --ic-link-color-lightened-10: #195789;
  --ic-brand-primary: #00457c;
  --ic-brand-font-color-dark: #2d3b45;
  --ic-link-color: #00457c;
  --ic-brand-button--primary-bgd: var(--ic-brand-primary);
  --ic-brand-button--primary-text: #ffffff;
  --ic-brand-button--secondary-bgd: #2d3b45;
  --ic-brand-button--secondary-text: #ffffff;
  --ic-brand-global-nav-bgd: #00457c;
  --ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
  --ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
  --ic-brand-global-nav-menu-item__text-color: #ffffff;
  --ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
  --ic-brand-global-nav-avatar-border: #ffffff;
  --ic-brand-global-nav-menu-item__badge-bgd: #ffffff;
  --ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
  --ic-brand-global-nav-menu-item__badge-text: #000000;
  --ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
  --ic-brand-global-nav-logo-bgd: #00457c;
  --ic-brand-header-image: url("https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_61990000000000001/attachments/8770431/UoA%20Logo%20White%20RGB%20Stacked%20200.png");
  --ic-brand-mobile-global-nav-logo: url("https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg");
  --ic-brand-watermark: ;
  --ic-brand-watermark-opacity: 1;
  --ic-brand-favicon: url("https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico");
  --ic-brand-apple-touch-icon: url("https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png");
  --ic-brand-msapplication-tile-color: var(--ic-brand-primary);
  --ic-brand-msapplication-tile-square: url("https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png");
  --ic-brand-msapplication-tile-wide: url("https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png");
  --ic-brand-right-sidebar-logo: ;
  --ic-brand-Login-body-bgd-color: #394b58;
  --ic-brand-Login-body-bgd-image: ;
  --ic-brand-Login-body-bgd-shadow-color: #2d3b45;
  --ic-brand-Login-logo: url("https://du11hjcvx0uqb.cloudfront.net/dist/images/login/canvas-logo-5617606953.svg");
  --ic-brand-Login-Content-bgd-color: none;
  --ic-brand-Login-Content-border-color: none;
  --ic-brand-Login-Content-inner-bgd: none;
  --ic-brand-Login-Content-inner-border: none;
  --ic-brand-Login-Content-inner-body-bgd: none;
  --ic-brand-Login-Content-inner-body-border: none;
  --ic-brand-Login-Content-label-text-color: #ffffee;
  --ic-brand-Login-Content-password-text-color: #fffffe;
  --ic-brand-Login-footer-link-color: #ffffff;
  --ic-brand-Login-footer-link-color-hover: #ffffff;
  --ic-brand-Login-instructure-logo: #ffffff;
}

:root {
  --canvasBackgroundColor: #ffffff;
  --canvasTextColor: #2d3b45;
  --canvasErrorColor: #e0061f;
  --canvasWarningColor: #fc5e13;
  --canvasInfoColor: #0374b5;
  --canvasSuccessColor: #0b874b;
  --canvasBorderColor: #c7cdd1;
  --toolbarButtonHoverBackground: rgb(242, 242, 242);
  --canvasBrandColor: #00457c;
  --activeMenuItemBackground: #00457c;
  --activeMenuItemLabelColor: #ffffff;
  --tableSelectorHighlightColor: rgba(0, 97, 175, 0.5);
  --canvasLinkColor: #00457c;
  --canvasLinkDecoration: none;
  --canvasButtonBackground: #ffffff;
  --canvasButtonBorderColor: transparent;
  --canvasButtonColor: #2d3b45;
  --canvasButtonHoverBackground: #ffffff;
  --canvasButtonHoverColor: #0374b5;
  --canvasButtonActiveBackground: #ffffff;
  --canvasButtonFontWeight: 400;
  --canvasButtonFontSize: 1rem;
  --canvasButtonLineHeight: 2.375rem;
  --canvasButtonPadding: 0 0.75rem;
  --canvasPrimaryButtonBackground: #00457c;
  --canvasPrimaryButtonColor: #ffffff;
  --canvasPrimaryButtonBorderColor: transparent;
  --canvasPrimaryButtonHoverBackground: rgb(0, 41, 73);
  --canvasPrimaryButtonHoverColor: #ffffff;
  --canvasSecondaryButtonBackground: #f5f5f5;
  --canvasSecondaryButtonColor: #2d3b45;
  --canvasSecondaryButtonBorderColor: rgb(219, 219, 219);
  --canvasSecondaryButtonHoverBackground: rgb(219, 219, 219);
  --canvasSecondaryButtonHoverColor: #2d3b45;
  --canvasFocusBorderColor: #00457c;
  --canvasFocusBorderWidth: 0.0625rem;
  --canvasFocusBoxShadow: 0 0 0 2px #00457c;
  --canvasEnabledColor: #00457c;
  --canvasEnabledBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(191, 191, 191);
  --canvasFontFamily: LatoWeb, "Lato Extended", Lato, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  --canvasFontSize: 1rem;
  --canvasFontSizeSmall: 0.875rem;
  --canvasModalShadow: 0 0.375rem 0.4375rem rgba(0, 0, 0, 0.1),
    0 0.625rem 1.75rem rgba(0, 0, 0, 0.25);
  --canvasModalHeadingPadding: 1.5rem;
  --canvasModalHeadingFontSize: 1.75rem;
  --canvasModalHeadingFontWeight: 400;
  --canvasModalBodyPadding: 1.5rem;
  --canvasModalFooterPadding: 0.75rem;
  --canvasModalFooterBackground: #f5f5f5;
  --canvasFormElementMargin: 0 0 1.5rem 0;
  --canvasFormElementLabelColor: #2d3b45;
  --canvasFormElementLabelMargin: 0 0 0.75rem 0;
  --canvasFormElementLabelFontSize: 1rem;
  --canvasFormElementLabelFontWeight: 700;
  --canvasBadgeBackgroundColor: #0374b5;
  --tinySplitButtonChevronHoverBackground: rgb(216, 216, 216);
}
:root {
  --transform: none;
  --hoverTransform: none;
  --fontFamily: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  --fontWeight: 400;
  --textTransform: none;
  --letterSpacing: normal;
  --borderRadius: 0.25rem;
  --borderStyle: solid;
  --borderWidth: 0.0625rem;
  --smallHeight: 1.75rem;
  --smallFontSize: 0.875rem;
  --smallPaddingHorizontal: 0.5rem;
  --smallPaddingTop: 0.375rem;
  --smallPaddingBottom: 0.3125rem;
  --mediumHeight: 2.375rem;
  --mediumFontSize: 1rem;
  --mediumPaddingHorizontal: 0.75rem;
  --mediumPaddingTop: 0.5625rem;
  --mediumPaddingBottom: 0.5625rem;
  --largeHeight: 3rem;
  --largeFontSize: 1.375rem;
  --largePaddingHorizontal: 1.5rem;
  --largePaddingTop: 0.6875rem;
  --largePaddingBottom: 0.6875rem;
  --lineHeight: 1.125;
  --iconSizeSmall: 1rem;
  --iconSizeMedium: 1.25rem;
  --iconSizeLarge: 1.625rem;
  --primaryColor: #ffffff;
  --primaryBorderColor: rgb(0, 41, 73);
  --primaryBackground: #00457c;
  --primaryHoverBackground: rgb(0, 41, 73);
  --primaryActiveBackground: rgb(0, 41, 73);
  --primaryActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(0, 12, 22);
  --primaryGhostColor: #00457c;
  --primaryGhostBorderColor: #00457c;
  --primaryGhostBackground: transparent;
  --primaryGhostHoverBackground: rgba(0, 69, 124, 0.1);
  --primaryGhostActiveBackground: transparent;
  --primaryGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem
    rgba(0, 69, 124, 0.28);
  --secondaryColor: #2d3b45;
  --secondaryBorderColor: rgb(219, 219, 219);
  --secondaryBackground: #f5f5f5;
  --secondaryHoverBackground: rgb(219, 219, 219);
  --secondaryActiveBackground: rgb(219, 219, 219);
  --secondaryActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(194, 194, 194);
  --secondaryGhostColor: #2d3b45;
  --secondaryGhostBorderColor: #2d3b45;
  --secondaryGhostBackground: transparent;
  --secondaryGhostHoverBackground: rgba(45, 59, 69, 0.1);
  --secondaryGhostActiveBackground: transparent;
  --secondaryGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem
    rgba(45, 59, 69, 0.28);
  --successColor: #ffffff;
  --successBorderColor: rgb(7, 88, 49);
  --successBackground: #0b874b;
  --successHoverBackground: rgb(7, 88, 49);
  --successActiveBackground: rgb(7, 88, 49);
  --successActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(3, 41, 23);
  --successGhostColor: #0b874b;
  --successGhostBorderColor: #0b874b;
  --successGhostBackground: transparent;
  --successGhostHoverBackground: rgba(11, 135, 75, 0.01);
  --successGhostActiveBackground: transparent;
  --successGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem
    rgba(11, 135, 75, 0.28);
  --dangerColor: #ffffff;
  --dangerBorderColor: rgb(174, 5, 24);
  --dangerBackground: #e0061f;
  --dangerHoverBackground: rgb(174, 5, 24);
  --dangerActiveBackground: rgb(174, 5, 24);
  --dangerActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(125, 3, 17);
  --dangerGhostColor: #e0061f;
  --dangerGhostBorderColor: #e0061f;
  --dangerGhostBackground: transparent;
  --dangerGhostHoverBackground: rgba(224, 6, 31, 0.1);
  --dangerGhostActiveBackground: transparent;
  --dangerGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem
    rgba(224, 6, 31, 0.28);
  --primaryInverseColor: #2d3b45;
  --primaryInverseBorderColor: rgb(219, 219, 219);
  --primaryInverseBackground: #ffffff;
  --primaryInverseHoverBackground: rgb(242, 242, 242);
  --primaryInverseActiveBackground: #ffffff;
  --primaryInverseActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem
    rgb(191, 191, 191);
  --primaryInverseGhostColor: #ffffff;
  --primaryInverseGhostBorderColor: #ffffff;
  --primaryInverseGhostBackground: transparent;
  --primaryInverseGhostHoverBackground: rgba(255, 255, 255, 0.1);
  --primaryInverseGhostActiveBackground: transparent;
  --primaryInverseGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem
    rgba(255, 255, 255, 0.28);
}
:root {
  --transform: none;
  --hoverTransform: none;
  --fontFamily: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  --fontWeight: 400;
  --textTransform: none;
  --letterSpacing: normal;
  --borderRadius: 0.25rem;
  --borderStyle: solid;
  --borderWidth: 0.0625rem;
  --smallHeight: 1.75rem;
  --smallFontSize: 0.875rem;
  --smallPaddingHorizontal: 0.5rem;
  --smallPaddingTop: 0.375rem;
  --smallPaddingBottom: 0.3125rem;
  --mediumHeight: 2.375rem;
  --mediumFontSize: 1rem;
  --mediumPaddingHorizontal: 0.75rem;
  --mediumPaddingTop: 0.5625rem;
  --mediumPaddingBottom: 0.5625rem;
  --largeHeight: 3rem;
  --largeFontSize: 1.375rem;
  --largePaddingHorizontal: 1.5rem;
  --largePaddingTop: 0.6875rem;
  --largePaddingBottom: 0.6875rem;
  --lineHeight: 1.125;
  --iconSizeSmall: 1rem;
  --iconSizeMedium: 1.25rem;
  --iconSizeLarge: 1.625rem;
  --primaryColor: #ffffff;
  --primaryBorderColor: rgb(0, 41, 73);
  --primaryBackground: #00457c;
  --primaryHoverBackground: rgb(0, 41, 73);
  --primaryActiveBackground: rgb(0, 41, 73);
  --primaryActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(0, 12, 22);
  --primaryGhostColor: #00457c;
  --primaryGhostBorderColor: #00457c;
  --primaryGhostBackground: transparent;
  --primaryGhostHoverBackground: rgba(0, 69, 124, 0.1);
  --primaryGhostActiveBackground: transparent;
  --primaryGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem
    rgba(0, 69, 124, 0.28);
  --secondaryColor: #2d3b45;
  --secondaryBorderColor: rgb(219, 219, 219);
  --secondaryBackground: #f5f5f5;
  --secondaryHoverBackground: rgb(219, 219, 219);
  --secondaryActiveBackground: rgb(219, 219, 219);
  --secondaryActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(194, 194, 194);
  --secondaryGhostColor: #2d3b45;
  --secondaryGhostBorderColor: #2d3b45;
  --secondaryGhostBackground: transparent;
  --secondaryGhostHoverBackground: rgba(45, 59, 69, 0.1);
  --secondaryGhostActiveBackground: transparent;
  --secondaryGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem
    rgba(45, 59, 69, 0.28);
  --successColor: #ffffff;
  --successBorderColor: rgb(7, 88, 49);
  --successBackground: #0b874b;
  --successHoverBackground: rgb(7, 88, 49);
  --successActiveBackground: rgb(7, 88, 49);
  --successActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(3, 41, 23);
  --successGhostColor: #0b874b;
  --successGhostBorderColor: #0b874b;
  --successGhostBackground: transparent;
  --successGhostHoverBackground: rgba(11, 135, 75, 0.01);
  --successGhostActiveBackground: transparent;
  --successGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem
    rgba(11, 135, 75, 0.28);
  --dangerColor: #ffffff;
  --dangerBorderColor: rgb(174, 5, 24);
  --dangerBackground: #e0061f;
  --dangerHoverBackground: rgb(174, 5, 24);
  --dangerActiveBackground: rgb(174, 5, 24);
  --dangerActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(125, 3, 17);
  --dangerGhostColor: #e0061f;
  --dangerGhostBorderColor: #e0061f;
  --dangerGhostBackground: transparent;
  --dangerGhostHoverBackground: rgba(224, 6, 31, 0.1);
  --dangerGhostActiveBackground: transparent;
  --dangerGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem
    rgba(224, 6, 31, 0.28);
  --primaryInverseColor: #2d3b45;
  --primaryInverseBorderColor: rgb(219, 219, 219);
  --primaryInverseBackground: #ffffff;
  --primaryInverseHoverBackground: rgb(242, 242, 242);
  --primaryInverseActiveBackground: #ffffff;
  --primaryInverseActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem
    rgb(191, 191, 191);
  --primaryInverseGhostColor: #ffffff;
  --primaryInverseGhostBorderColor: #ffffff;
  --primaryInverseGhostBackground: transparent;
  --primaryInverseGhostHoverBackground: rgba(255, 255, 255, 0.1);
  --primaryInverseGhostActiveBackground: transparent;
  --primaryInverseGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem
    rgba(255, 255, 255, 0.28);
}
:root {
  --bDzpk-fontFamily: LatoWeb, "Lato Extended", Lato, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}
:root {
  --cGqzL-sizeXSmall: 1.125rem;
  --cGqzL-sizeSmall: 2rem;
  --cGqzL-sizeMedium: 3rem;
  --cGqzL-sizeLarge: 5rem;
  --cGqzL-sizeXLarge: 10rem;
}
:root {
  --dUOHu-primaryInverseColor: #ffffff;
  --dUOHu-primaryColor: #2d3b45;
  --dUOHu-secondaryColor: #6b7780;
  --dUOHu-secondaryInverseColor: #f5f5f5;
  --dUOHu-warningColor: #fc5e13;
  --dUOHu-brandColor: #00457c;
  --dUOHu-errorColor: #e0061f;
  --dUOHu-alertColor: #bf32a4;
  --dUOHu-successColor: #0b874b;
}
:root {
  --enRcg-fontFamily: LatoWeb, "Lato Extended", Lato, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  --enRcg-fontFamilyMonospace: Menlo, Consolas, Monaco, "Andale Mono", monospace;
  --enRcg-fontSizeXSmall: 0.75rem;
  --enRcg-fontSizeSmall: 0.875rem;
  --enRcg-fontSizeMedium: 1rem;
  --enRcg-fontSizeLarge: 1.375rem;
  --enRcg-fontSizeXLarge: 1.75rem;
  --enRcg-fontSizeXXLarge: 2.375rem;
  --enRcg-fontWeightLight: 300;
  --enRcg-fontWeightNormal: 400;
  --enRcg-fontWeightBold: 700;
  --enRcg-lineHeight: 1.5;
  --enRcg-lineHeightFit: 1.125;
  --enRcg-lineHeightCondensed: 1.25;
  --enRcg-lineHeightDouble: 2;
  --enRcg-letterSpacingNormal: 0;
  --enRcg-letterSpacingCondensed: -0.0625rem;
  --enRcg-letterSpacingExpanded: 0.0625rem;
  --enRcg-primaryInverseColor: #ffffff;
  --enRcg-primaryColor: #2d3b45;
  --enRcg-secondaryColor: #6b7780;
  --enRcg-secondaryInverseColor: #f5f5f5;
  --enRcg-warningColor: #fc5e13;
  --enRcg-brandColor: #00457c;
  --enRcg-errorColor: #e0061f;
  --enRcg-dangerColor: #e0061f;
  --enRcg-successColor: #0b874b;
  --enRcg-alertColor: #bf32a4;
  --enRcg-paragraphMargin: 1.5rem 0;
}
:root {
  --background: #ffffff;
  --color: #2d3b45;
  --marginTop: 0.75rem;
  --borderRadius: 0.25rem;
  --borderWidth: 0.125rem;
  --borderStyle: solid;
  --contentPadding: 0.75rem 1.5rem;
  --contentFontSize: 1rem;
  --contentFontFamily: LatoWeb, "Lato Extended", Lato, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  --contentFontWeight: 400;
  --contentLineHeight: 1.25;
  --closeButtonMarginTop: 0.5rem;
  --closeButtonMarginRight: 0.375rem;
  --iconColor: #ffffff;
  --successBorderColor: #0b874b;
  --successIconBackground: #0b874b;
  --infoBorderColor: #0374b5;
  --infoIconBackground: #0374b5;
  --warningBorderColor: #fc5e13;
  --warningIconBackground: #fc5e13;
  --dangerBorderColor: #e0061f;
  --dangerIconBackground: #e0061f;
  --boxShadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.1),
    0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16);
}
