@import "../../icons/svelte/iconElement.postcss";
.CDB--Icon {
  @apply inline;
}

.DesignBlocks--Icon {
  @apply inline;
}
#tinymce {
  .iconPlaceholder {
    @apply animate-pulse;
    @apply rounded-full shadow-inner inline-block ring ring-primary mx-1;
    width: 0.7em;
    height: 0.7em;
    line-height: 0.7em;
  }
}
