@tailwind base;
@tailwind components;
@tailwind utilities;

/* body.edit {
  & #left-side #section-tabs li {
    @apply transition visible;
  }
  &.cgb-toolbar-open {
    & #left-side #section-tabs li {
      @apply opacity-0 invisible;
      &:first-child {
        @apply opacity-100 visible h-auto;
      }
    }
  }
} */
