/* Create context to query against for container queries */
.user_content,
.mceContentBody {
  container-type: inline-size;
}

.cgb-component i[class*="icon-"].icon-TextSize:before {
  font-size: 1em;
}
